@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #007BFF;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #E8E8E8;
    background-image: linear-gradient(to bottom, rgb(105, 101, 101), #E8E8E8);
    background-repeat: no-repeat; 
}


a, a:hover {
  text-decoration: none;
  color: unset;
}